<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body class = "body">  
    <div class="container cb mt-2 mb-2">
  
      <h1 class="mt-4 mb-3">Admin
        <small>Editar Categoria</small>
      </h1>
  
      <ol class="breadcrumb bg-mb">
        <li class="breadcrumb-item">
          <a href="/pt">Início</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/admin">Admin</a>
          </li>
        <li class="breadcrumb-item active">Editar Categoria</li>
      </ol>
      
      <form method="POST" action="/admin/category/update">
        <input type="hidden" class="form-control mb-2" name="id" value="<%= category._id %>">

        <label>Nome PT:</label>
        <input type="text" class="form-control mb-2" name="title_pt" value="<%= category.title_pt %>">

        <label>Nome ENG:</label>
        <input type="text" class="form-control mb-2" name="title_eng" value="<%= category.title_pt %>">
        <button type="submit" class="btn btn-vernesis btn-block mb-4">Enviar</button>
      </form>

  
    </div>
    <!-- /.container -->
</body>

<%- include ("../partials/footer.ejs") %>