<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body>  
  <section class="banner simple">
    <ol class="breadcrumb bg-mb">
      <li class="breadcrumb-item">
        <a href="/pt" class="text-decoration-none">Início</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin" class="text-decoration-none">Admin</a>
      </li>
      <li class="breadcrumb-item active">Gerenciar Usuários</li>
    </ol>
  </section>
  
  <section class="container column">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Cargo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
          <% users.forEach(user => {%>
              <tr>
                  <td><%= user.email %></td>
                  <td><%= user.type %></td>
                  <td>
                      <% if (user.type == "Admin") {%>
                      <form method="POST" action="/admin/user" style="display: inline;" onsubmit="confirmDelete(event, this)">
                          <input type="hidden" name="id" value="<%= user._id %>">
                          <input type="hidden" name="option" value="Promote">
                          <button class="btn btn-success black">Promover</button>
                      </form>
                      <%}%>
                      <% if (user.type == "Master") {%>
                          <form method="POST" action="/admin/user" style="display: inline;" onsubmit="confirmDelete(event, this)">
                              <input type="hidden" name="id" value="<%= user._id %>">
                              <input type="hidden" name="option" value="Demote">
                              <button class="btn btn-danger black">Rebaixar</button>
                          </form>
                          <%}%>
                  </td>
                </tr>
            <%})%>
      </tbody>
    </table>
  </section>
  <%- include ("../partials/scripts.ejs") %>
</body>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar essa categoria?")
        if (decision){
            form.submit()
        }
    }
</script>