<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body>
  <%- include ("../partials/alert.ejs") %>
  <section class="banner simple">
    <ol class="breadcrumb bg-mb">
      <li class="breadcrumb-item">
        <a href="/pt" class="text-decoration-none">Início</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin" class="text-decoration-none">Admin</a>
      </li>
      <li class="breadcrumb-item active">Gerenciar Artigo</li>
    </ol>
  </section>  

  <section class="container">
    <div class="column">
      <h4 align="center">Português</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Categoria</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => {%>
              <% if (article.lang == "pt") {%>
                <tr>
                  <td><%= article.title %></td>
                  <td><%= article.category_id.title_pt %></td>
                  <td>
                    <div class="d-flex">
                      <a href="/admin/article/<%= article._id %>"><button class="btn btn-warning black">Editar</button></a>
                      <form method="POST" action="/admin/article/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                          <input type="hidden" name="id" value="<%= article._id %>">
                          <button class="btn btn-danger black">Deletar</button>
                      </form>
                    </div>
                  </td>
                </tr>
                <%}%>  
              <%})%>
        </tbody>
      </table>
    </div>
    <div class="column">
      <h4 align="center">Inglês</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Categoria</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => {%>
              <% if (article.lang == "en") {%>
                <tr>
                  <td><%= article.title %></td>
                  <td><%= article.category_id.title_en %></td>
                  <td>
                    <div class="d-flex">
                      <a href="/admin/article/<%= article._id %>"><button class="btn btn-warning black">Editar</button></a>
                      <form method="POST" action="/admin/article/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                          <input type="hidden" name="id" value="<%= article._id %>">
                          <button class="btn btn-danger black">Deletar</button>
                      </form>
                    </div>
                  </td>
                </tr>
              <%}%>  
            <%})%>
        </tbody>
      </table>
    </div>
  </section>
  <%-include ("../partials/scripts.ejs") %>
</body>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esse artigo?")
        if (decision){
            form.submit()
        }
    }
</script>