<%- include ("../partials/header.ejs") %>
<body class = "body">  
  <header>
    <%- include ("../partials/ennavbar.ejs") %>
  </header>

  <section class="banner simple">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/en" class="text-decoration-none">Home</a>
      </li>
      <li class="breadcrumb-item">Postagens</li>
      <li class="breadcrumb-item active"><%= category %></li>
    </ol>
  </section>

  <section class="container postagens">
    <% result.articles.forEach(article => { %>
        <div class="post">
          <a class="post_link" href="/en/<%= article.slug%>">
            <div class="post_title">
              <h4><%= article.title %></h4>
              <div class="post_bar mb-2"></div>
              <img class="post_img rounded" src="<%= article.link_img %>" alt="">
            </div>
          </a>
        </div>
    <%})%>
  </section>

  <ul class="pagination justify-content-center mb-4">
    <% if (result.page != 1){ %>
      <li class="page-item">
        <a class="page-link" href="/en/<%= result.articles[0].category_id.slug_en %>/<%= parseInt(result.page) - 1%>">&larr; Recentes</a>
      </li>
    <%}%>

    <% if (result.next){ %>
      <li class="page-item">
        <a class="page-link" href="/en/<%= result.articles[0].category_id.slug_en %>/<%= parseInt(result.page) + 1 %>">Antigos &rarr;</a>
      </li>
    <%}%>
  </ul>


  <%- include ("../partials/scripts.ejs")%>
</body>

<%- include ("../partials/footer.ejs") %>