<%- include ("../partials/header.ejs") %>
<body class = "body">  
  <header>
    <%- include ("../partials/ptnavbar.ejs") %>
  </header>
  <section class="banner simple">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/pt" class="text-decoration-none">Início</a>
      </li>
      <li class="breadcrumb-item">Postagens</li>
      <li class="breadcrumb-item">
        <a href="/pt/<%=article.category_id.slug_pt %>/1" class="text-decoration-none"><%= article.category_id.title_pt %></a>
      </li>
      <li class="breadcrumb-item active"><%= article.title %></li>
    </ol>
  </section>
    
  <section class="container column">
    <h4 class="card-title" align="center"><%= article.title %></h2>
    <p class="card-text"><%- article.body%></p>
  </section>
  <%- include ("../partials/scripts.ejs")%>
</body>

<%- include ("../partials/footer.ejs") %>