<%- include ("../partials/header.ejs") %>
<%- include ("../partials/ptnavbar.ejs") %>
<body class = "body">  
    <div class="container cb mt-2 mb-2">
  
      <h1 class="mt-4 mb-3">Notícias
        <small></small>
      </h1>
  
      <ol class="breadcrumb bg-mb">
        <li class="breadcrumb-item">
          <a href="index.html" class="text-decoration-none">Início</a>
        </li>
        <li class="breadcrumb-item">Notícias</li>
        <li class="breadcrumb-item active"><%= category %></li>
      </ol>
  
      <!-- Blog Post -->
      <div class="row">

      <% articles.forEach(article => { %>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <a href="/pt/<%= article.category_id.slug_pt %>/<%= article.slug %>">
              <img class="img-fluid rounded" src="<%= article.link_img %>" alt="Responsive image">
            </a>
            <div class="card-body">
              <h3 class="card-title"><%= article.title %></h3>
              <p id="truncated"><%- article.body.substring(0, 100) + "..." %></p>
              <a href="/pt/<%= article.category_id.slug_pt %>/<%= article.slug %>" class="btn btn-vernesis btn-block">Ler &rarr;</a>
            </div>
          </div>
        </div>
      <%})%>
              
    </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Antigos</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Recentes &rarr;</a>
        </li>
      </ul>
  
    </div>
    <!-- /.container -->
</body>

<%- include ("../partials/footer.ejs") %>