<%- include ("../partials/header.ejs") %>
<body>
  <header>
    <%- include ("../partials/ptnavbar.ejs") %>
  </header>
    <%- include ("../partials/alert.ejs") %>
  <section id="banner">
    <div class="container column">
        <div class="banner_headline"></div>
        <div class="banner_options">
            <div class="banner1">
              <a href="/pt/<%= news[0].slug%>">
                <div class="banner_title"><%= news[0].title %></div>
              </a>
            </div>
            <div class="banner2">
              <a href="/pt/<%= news[1].slug%>">
                <div class="banner_title"><%= news[1].title %></div>
              </a>
            </div>
            <div class="banner3">
              <a href="/pt/<%= news[2].slug%>">
                <div class="banner_title"><%= news[2].title %></div>
              </a>
            </div>
        </div>
    </div>
  </section>

  <section id="features">
    <div class="container flexWrap">
        <div class="widget">
            <div class="widget_title">
                <div class="widget_title_text">
                    Lute!
                </div>
                <div class="widget_title_bar"></div>
            </div>
            <div class="widget_title_body">
                <p>Enfrente outros jogadores no mundo vasto de Vernesis, demonstre suas habilidades em batalhas empolgantes e desafiador.</p>
                <p>Junte-se a ou crie uma guilda, trabalhe sua reputação e enfrente outras guildas para conquistar o seu lugar em Vernesis.</p>
                <p>Desbrave territórios perigosos em busca de tesouros, enfrentando as diversas criaturas que habitam esse universo!</p>
            </div>
        </div>

        <div class="widget">
            <div class="widget_title">
                <div class="widget_title_text">
                    Desbrave!
                </div>
                <div class="widget_title_bar"></div>
            </div>
            <div class="widget_title_body">
                <p>Aventure-se por esse mundo rico em contos, histórias e perigos incríveis.</p>
                <p>Enfrente as perigosas masmorras e conquiste os seus segredos após desafios empolgantes.</p>
                <p>Conquiste sua reputação e desvende os segredos escondidos há muito tempo.</p>
            </div>
        </div>

        <div class="widget">
            <div class="widget_title">
                <div class="widget_title_text">
                    Domine!
                </div>
                <div class="widget_title_bar"></div>
            </div>
            <div class="widget_title_body">
                <p>Encontre a combinação de equipamentos e habilidades que mais se encaixa com o seu perfil de luta e oblitere os seus inimigos!</p>
                <p>Conquiste os poderes estelares para obter o domínio sobre suas habilidades. Obtenha o poder dos elementos da natureza, das constelações e muito mais.</p>
            </div>
        </div>

        <div class="widget">
            <div class="widget_title">
                <div class="widget_title_text">
                    Personalize!
                </div>
                <div class="widget_title_bar"></div>
            </div>
            <div class="widget_title_body">
                <p>Sinta-se livre para aproveitar todos os tipos de poderes, não ficará preso as suas escolhas. Será livre para mudar quando desejar, você será o que usar.</p>
                <p>Explore as possibilidades de customização em características e roupas. É importante estar fabuloso!</p>
            </div>
        </div>
    </div>
  </section>

  <section id="resumes">
    <div class="container column">
        <div class="division">
            <img src="/uploads/logopenumbra.png" class="muted" alt="" height="80px"/>
        </div>

        <div class="column">
            <div class="intro">
                <p>Vernesis Online é um jogo para jogadores de RPG que apreciam novos desafios e boas histórias. Vernesis é um MMORPG sandbox 2D que abraça jogadores que apreciam conteúdo histórico, sistemático e visual ao contrário de jogos tradicionais com gameplay travado e diferença baseada nos níveis. Vernesis fornece um mundo imersivo onde os jogadores habilidosos são capazes de mudar toda a história ao seu favor.</p>
            </div>

            <div class="flexWrap">
                <div class="card" style="background-color: rgb(194, 45, 45);">
                    <div class="card_title">
                        Criaturas Sobrenaturais
                    </div>
                    <div class="card_body">
                        Desde simples zumbis até dragões, o bestiário de Vernesis é repleto de criaturas incríveis e de níveis de perigo completamente divergentes. Alguns podem ser encontrados facilmente vagando pelo mundo de Vernesis, já outros... apenas quando uma estrela vem ao mundo, trazendo consigo seus mistérios mirabolantes.
                    </div>
                </div>
    
                <div class="card" style="background-color: rgb(80, 194, 45);">
                    <div class="card_title">
                        Urianos
                    </div>
                    <div class="card_body">
                        Rodeado por muralhas grandes, imponentes e, ao mesmo tempo, acolhedoras, o reino de Uria é visto como o grande arauto da esperança. Sendo uma sociedade que frequentemente representa a justiça para com os fracos e oprimidos, seus soldados sempre dispõem-se a lutar por aquilo que parece certo perante os seus ideais.
                    </div>
                </div>

                <div class="card" style="background-color: rgb(57, 221, 226);">
                    <div class="card_title">
                        Nidlebens
                    </div>
                    <div class="card_body">
                        Em meio às planícies gélidas e tundras, há uma civilização que, seguindo o puro significado da força e sobrevivência, é capaz de se sustentar. A tribo de Nidheim é caracterizada pelo valor do poder e, por muitos, seus membros são vistos como bárbaros que não se importam com nada além do conflito e da conquista.
                    </div>
                </div>

                <div class="card" style="background-color: rgb(228, 155, 47);">
                    <div class="card_title">
                        Kaoenses
                    </div>
                    <div class="card_body">
                        O poder das estrelas é, sem qualquer sombra de dúvidas, um presente divino. Sem haver outra explicação adequada, torna-se evidente que os deuses, após tantos milênios, finalmente reconheceram os méritos dos homens e dispuseram-se a ir de encontro aos mesmos. Qualquer ato menor que a profunda gratidão é uma blasfêmia e a teocracia de Kaus há de utilizar, sem escrúpulos, os presentes concedidos à humanidade pelos deuses, que é a sua própria presença.
                    </div>
                </div>

                <div class="card" style="background-color: rgb(42, 112, 218);">
                    <div class="card_title">
                        Povo de Silverwater
                    </div>
                    <div class="card_body">
                        O mundo é um local cruel e, como consequência, é necessário que não apenas o indivíduo, mas toda a sociedade se adapte à isso e tome as atitudes nos conformes. Na baía de Silverwater, não existem meios que não possam ser justificados pelos fins e, como consequência, a moralidade é um conceito inteiramente subjetivo. Mais vale a sobrevivência e o sucesso que a honra e a lealdade. Organizada em volta do líder que mais pareça digno do cargo, toda essa civilização se move em conjunto, preparada para prevalecer diante das provações do mundo.
                    </div>
                </div>

                <div class="card" style="background-color: rgb(44, 226, 105);">
                    <div class="card_title">
                        Nohitas
                    </div>
                    <div class="card_body">
                        Diante de todo o caos estelar, é evidente que as leis antigas começam a desabar. A natureza não mais se comporta da mesma maneira e as Estrelas são utilizadas imprudentemente, colocando o próprio mundo em risco. Em meio a esse caos, a vila de Noh se ergue com bravura, posicionando-se em favor do equilíbrio. O poder que chega à terra é, certamente, um risco, e por isso fazem-se necessários guardiões que visam manter a balança em igualdade.
                    </div>
                </div>
            </div>
        </div>
  </section>
  <%- include ("../partials/scripts.ejs") %>
</body>
<%- include ("../partials/footer.ejs") %>